
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #D6FF40; /* Your desired text color */
}

.custom-navbar {
  background-color: #000 ; /* Pure black background */
}

.custom-navbar .nav-link:hover {
  color: white; /* Color on hover */
}

body {
  background-color: black; /* Replace with your desired background color */
}

body, html {
  min-width: 320px; /* Minimum width of the viewport */
  min-height: 480px; /* Minimum height of the viewport */
  margin: 0; /* Ensure no margin */
  padding: 0;
  height: 100%;
}


.vh-100 {
  height: 100vh;
}

.btn-login {
  background-color: #007bff; /* Your desired background color */
  color: white; /* Text color */
  border-color: #007bff; /* Border color */
  border-radius: 50px;
}

.btn-register{
  border-radius: 50px;
  box-shadow:  12px 12px 24px #001a4a,
             -12px -12px 24px #002364;
}

.btn-logout{
  border-radius: 50px;
}

.btn-login:hover {
  background-color: #0056b3; /* Background color on hover */
  border-color: #004085; /* Border color on hover */
}

.btn-quick-play {
  background-color: #28a745; /* Your desired background color */
  color: white; /* Text color */
  border-color: #28a745; /* Border color */
  border-radius: 50px;
}

.btn-quick-play:hover {
  background-color: #218838; /* Background color on hover */
  border-color: #1e7e34; /* Border color on hover */
}

.containerStyle {
  background-color: black;
  border-radius: 50px;
  box-shadow:  12px 12px 24px #001a4a,
             -12px -12px 24px #002364;
  overflow:hidden; /*for round things inside that content as the table*/
}

.text-correct {
  color: #96d35f;
}

.text-wrong {
  color: red;
}

.logInName{
  color:white;
}

.input-caption {
  cursor: default;
  background-color: black;
  border: none;
  color:white;
}

.input-caption:focus {
  background-color: black; /* Ensure background stays black when focused */
  color:white;
  outline: none; /* Remove the default outline */
  box-shadow: none; /* Remove any default focus shadow */
} 

.input-caption::placeholder {
  color: white; /* Change placeholder text color */
}

.custom-image {
  object-fit: cover;
}

.user-icon {
  color: white; /* Change the color to white */
}

.user-image-and-form{
  box-shadow:  12px 12px 24px #001a4a,
  -12px -12px 24px #002364;
}
